In [45]:
# upload sql files to local Mysql database

# first open MySQLWorkbench
# set no string length limit
# SET @@global.sql_mode= '';
# open excel, delete first columns of index in investor_sql.csv and company_sql.csv

import pandas as pd 
import MySQLdb

# read csv source file to panda dataframe
di = pd.read_csv('/Users/binxiang/Desktop/Insight/Week 3/investor_sql.csv')
dc = pd.read_csv('/Users/binxiang/Desktop/Insight/Week 3/company_sql.csv')
# add base 1 to investor past investments
for irow_di in di.index:
    if di.loc[irow_di,'TimesInvest'] == 0: di.loc[irow_di,'TimesInvest'] =1
# write dataframe to MySQL
db = MySQLdb.connect('localhost','root','')  #host, user, password, #database
db.query("CREATE DATABASE IF NOT EXISTS recommend_db;")
db.query('USE recommend_db;')
di.to_sql(name = 'investor_tb', con = db, flavor = 'mysql')
dc.to_sql(name = 'company_tb', con = db, flavor = 'mysql')
db.close()

In [9]:
# find popular investors
di[di['TimesInvest']>800]

                Name   Category  TimesInvest
255     500 Startups    Finance          836
448  Sequoia Capital  Analytics          908
791            Wayra   Big Data          864

In [34]:
# find company in category
ind = dc[dc['Category']=='Finance'].index
dc[dc['Location']==' MA']['Title'][66]

'Venture Round'

In [42]:
# read csv source file to panda dataframe
di = pd.read_csv('/Users/binxiang/Desktop/Insight/Week 3/investor_sql.csv')
dc = pd.read_csv('/Users/binxiang/Desktop/Insight/Week 3/company_sql.csv')
# add base 1 to investor past investments
di['TimesInvest'] = di['TimesInvest'] + 1

In [43]:
di.loc[10,'TimesInvest']

275